aiohttp
async-timeout
attrs
better-profanity
certifi
chardet
charset-normalizer
click
colorama
cycler
decouple
discord-components
discord-py-interactions
discord-py-slash-command
discord-ui
discord.py
discord
ffmpeg
Flask
fonttools
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
multidict
nose
numpy
orjson
packaging
Pillow
pyparsing
python-dateutil
python-dotenv
PyYAML
Random-Word
requests
six
typing_extensions
urllib3
Werkzeug
yarl